<%= render partial: 'shared/landing/header' %>

<div class="fh5co-hero">
  <div class="fh5co-overlay"></div>
  <div class="fh5co-cover text-center main-visual" data-stellar-background-ratio="0.5">
    <div class="desc">
      <div class="container">
        <div class="col-md-12">
          <div class="animate-box">
            <h2>あの日登った高尾はここにある</h2>
            <%= link_to omniauth_authorize_path(@user, 'facebook'), class: 'fb_btn' do %>
              facebookではじめる
            <% end %> 
            <!-- <p><a class="btn btn-primary btn-lg" href="#">Get Started</a></p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="fh5co-feature-product" class="fh5co-section-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
        <h3>Business to the next level</h3>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
      </div>
    </div>

    <div class="row row-bottom-padded-md">
      <div class="col-md-12 text-center animate-box">
        <p><img src="images/cover_bg_1.jpg" alt="Free HTML5 Bootstrap Template" class="img-responsive img-rounded"></p>
      </div>
      
    </div>
    <div class="row row-bottom-padded-md">
      <div class="col-md-4">
        <div class="feature-text">
          <h3>Angular JS</h3>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="feature-text">
          <h3>Node JS</h3>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="feature-text">
          <h3>Django Python</h3>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12 text-center">
        <a href="https://vimeo.com/channels/staffpicks/93951774" class="link-watch popup-vimeo btn btn-primary"><i class="icon-play3"></i> Watch our video</a>
      </div>
    </div>
    
  </div>
</div>

<div id="fh5co-features">
  <div class="container">
    <div class="row">
      <div class="col-md-4">

        <div class="feature-left">
          <span class="icon">
            <i class="icon-hotairballoon"></i>
          </span>
          <div class="feature-copy">
            <h3>Marketing</h3>
            <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
            <p><a href="#">Learn More</a></p>
          </div>
        </div>

      </div>

      <div class="col-md-4">
        <div class="feature-left">
          <span class="icon">
            <i class="icon-search"></i>
          </span>
          <div class="feature-copy">
            <h3>Search Engine</h3>
            <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
            <p><a href="#">Learn More</a></p>
          </div>
        </div>

      </div>
      <div class="col-md-4">
        <div class="feature-left">
          <span class="icon">
            <i class="icon-wallet"></i>
          </span>
          <div class="feature-copy">
            <h3>Earn Money</h3>
            <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
            <p><a href="#">Learn More</a></p>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-4">

        <div class="feature-left">
          <span class="icon">
            <i class="icon-wine"></i>
          </span>
          <div class="feature-copy">
            <h3>Entrepreneur</h3>
            <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
            <p><a href="#">Learn More</a></p>
          </div>
        </div>

      </div>

      <div class="col-md-4">
        <div class="feature-left">
          <span class="icon">
            <i class="icon-genius"></i>
          </span>
          <div class="feature-copy">
            <h3>Stragic Plan</h3>
            <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
            <p><a href="#">Learn More</a></p>
          </div>
        </div>

      </div>
      <div class="col-md-4">
        <div class="feature-left">
          <span class="icon">
            <i class="icon-chat"></i>
          </span>
          <div class="feature-copy">
            <h3>Support</h3>
            <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
            <p><a href="#">Learn More</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="fh5co-portfolio" class="fh5co-section-gray">
  <div class="container">

    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
        <h3>Our Gallery</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit est facilis maiores, perspiciatis accusamus asperiores sint consequuntur debitis.</p>
      </div>
    </div>

    
    <div class="row row-bottom-padded-md">
      <div class="col-md-12">
        <ul id="fh5co-portfolio-list">

          <li class="two-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/cover_bg_2.jpg); ">
            <a href="#" class="color-3">
              <div class="case-studies-summary">
                <span>Creative</span>
                <h2>Wak in the wooden street</h2>
              </div>
            </a>
          </li>
        
          <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/cover_bg_3.jpg); ">
            <a href="#" class="color-4">
              <div class="case-studies-summary">
                <span>Design</span>
                <h2>Present your product</h2>
              </div>
            </a>
          </li>

          <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/cover_bg_1.jpg); "> 
            <a href="#" class="color-5">
              <div class="case-studies-summary">
                <span>Photo</span>
                <h2>See the horizon</h2>
              </div>
            </a>
          </li>
          <li class="two-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/blog-1.jpg); ">
            <a href="#" class="color-6">
              <div class="case-studies-summary">
                <span>Love</span>
                <h2>Spend time with your partner</h2>
              </div>
            </a>
          </li>
        </ul>   
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-md-offset-4 text-center animate-box">
        <a href="#" class="btn btn-primary btn-lg">See Gallery</a>
      </div>
    </div>

    
  </div>
</div>



<div class="fh5co-content-section">
  <div class="container">
    <div class="row row-bottom-padded-md">
      <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
        <h3>Our Team</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit est facilis maiores, perspiciatis accusamus asperiores sint consequuntur debitis.</p>
      </div>
    </div>
  </div>
  <div class="container">

    <div class="row">
      <div class="col-md-4">
        <div class="fh5co-team text-center animate-box">
          <figure>
            <img src="images/person_1.jpg" alt="user">
          </figure>
          <p>Jean Doe, XYZ Co. <br> <span class="text-mute">Designer</span></p>
          <blockquote>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
          </blockquote>
          

        </div>
      </div>
      <div class="col-md-4">
        <div class="fh5co-team text-center animate-box">
          <figure>
            <img src="images/person_2.jpg" alt="user">
          </figure>
          <p>Jean Doe, XYZ Co. <br> <span class="text-mute">Developer</span></p>
          <blockquote>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
          </blockquote>
          
        </div>
      </div>
      <div class="col-md-4">
        <div class="fh5co-team text-center animate-box">
          <figure>
            <img src="images/person_3.jpg" alt="user">
          </figure>
          <p>Jean Doe, XYZ Co. <br> <span class="text-mute">Photographer</span></p>
          <blockquote>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
          </blockquote>
          
        </div>
      </div>
    </div>
  </div>
</div>
<!-- fh5co-content-section -->

<div id="fh5co-services-section" class="fh5co-section-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
        <h3>Our Experties</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit est facilis maiores, perspiciatis accusamus asperiores sint consequuntur debitis.</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row text-center">
      <div class="col-md-4 col-sm-4">
        <div class="service animate-box">
          <span><i class="icon-beaker"></i></span>
          <h3>Web Design</h3>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="service animate-box">
          <span><i class="icon-heart"></i></span>
          <h3>Design Passion</h3>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="service animate-box">
          <span><i class="icon-upload"></i></span>
          <h3>Upload Files</h3>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="service animate-box">
          <span><i class="icon-globe"></i></span>
          <h3>Web Design</h3>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="service animate-box">
          <span><i class="icon-bike"></i></span>
          <h3>UI/UX Design</h3>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="service animate-box">
          <span><i class="icon-cloud"></i></span>
          <h3>Lightning Cloud Server</h3>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- END What we do -->


<div id="fh5co-blog-section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
        <h3>Recent From Blog</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit est facilis maiores, perspiciatis accusamus asperiores sint consequuntur debitis.</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row row-bottom-padded-md">
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="fh5co-blog animate-box">
          <a href="#"><img class="img-responsive" src="images/cover_bg_1.jpg" alt=""></a>
          <div class="blog-text">
            <div class="prod-title">
              <h3><a href=""#>Web Design for the Future</a></h3>
              <span class="posted_by">Sep. 15th</span>
              <span class="comment"><a href="">21<i class="icon-bubble2"></i></a></span>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
              <p><a href="#">Learn More...</a></p>
            </div>
          </div> 
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="fh5co-blog animate-box">
          <a href="#"><img class="img-responsive" src="images/cover_bg_2.jpg" alt=""></a>
          <div class="blog-text">
            <div class="prod-title">
              <h3><a href=""#>Web Design for the Future</a></h3>
              <span class="posted_by">Sep. 15th</span>
              <span class="comment"><a href="">21<i class="icon-bubble2"></i></a></span>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
              <p><a href="#">Learn More...</a></p>
            </div>
          </div> 
        </div>
      </div>
      <div class="clearfix visible-sm-block"></div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="fh5co-blog animate-box">
          <a href="#"><img class="img-responsive" src="images/cover_bg_3.jpg" alt=""></a>
          <div class="blog-text">
            <div class="prod-title">
              <h3><a href=""#>Web Design for the Future</a></h3>
              <span class="posted_by">Sep. 15th</span>
              <span class="comment"><a href="">21<i class="icon-bubble2"></i></a></span>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
              <p><a href="#">Learn More...</a></p>
            </div>
          </div> 
        </div>
      </div>
      <div class="clearfix visible-md-block"></div>
    </div>

    <div class="row">
      <div class="col-md-4 col-md-offset-4 text-center animate-box">
        <a href="#" class="btn btn-primary btn-lg">Our Blog</a>
      </div>
    </div>

  </div>
</div>

<%= render partial: 'shared/landing/footer' %>

    

  

