- @users.each do |reculutement|
  = reculutement.name
  = link_to "一緒に登る", reculutement_path(reculutement, result: "ok"), method: :put
  = link_to "拒否", reculutement_path(reculutement, result: "no"), method: :put
