<footer>
  <div id="footer">
    <div class="container">
      <div class="row row-bottom-padded-md">
        <div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">
          <h3>Services</h3>
          <ul>
            <li><a href="#">Web Development</a></li>
            <li><a href="#">Design Strategy</a></li>
            <li><a href="#">UI/UX Planning</a></li>
            <li><a href="#">Photographer</a></li>
          </ul>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">
          <h3>Company</h3>
          <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Our Team</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="#">Career</a></li>
          </ul>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">
          <h3>Our Apps</h3>
          <ul>
            <li><a href="#">Mobile Application</a></li>
            <li><a href="#">Online Payment</a></li>
            <li><a href="#">Time Monitoring</a></li>
            <li><a href="#">Andriod Payment Gateway</a></li>
          </ul>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">
          <h3>Downloads</h3>
          <ul>
            <li><a href="#">Apple Store</a></li>
            <li><a href="#">Google Play</a></li>
            <li><a href="#">Windows Store</a></li>
          </ul>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">
          <h3>Services</h3>
          <ul>
            <li><a href="#">Web Development</a></li>
            <li><a href="#">Design Strategy</a></li>
            <li><a href="#">UI/UX Planning</a></li>
            <li><a href="#">Photographer</a></li>
          </ul>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">
          <h3>Connect</h3>
          <ul>
            <li><a href="#">Follow on Twitter</a></li>
            <li><a href="#">Like on Facebook</a></li>
            <li><a href="#">Circle with Google</a></li>
            <li><a href="#">Partner with Linkedin</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
          <p class="fh5co-social-icons">
            <a href="#"><i class="icon-twitter2"></i></a>
            <a href="#"><i class="icon-facebook2"></i></a>
            <a href="#"><i class="icon-instagram"></i></a>
            <a href="#"><i class="icon-dribbble2"></i></a>
            <a href="#"><i class="icon-youtube"></i></a>
          </p>
          <p>Copyright 2016 Free Html5 <a href="#">Module</a>. All Rights Reserved. <br>Made with <i class="icon-heart3"></i> by <a href="http://freehtml5.co/" target="_blank">Freehtml5.co</a> / Demo Images: <a href="https://unsplash.com/" target="_blank">Unsplash</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>