@import 'base/mixins';

.large_sign_up_btn {
  display: block;
  width: 50%;
  margin: 30px auto;
  padding: .6em 1.1em;
  font-size: 26px;
  text-decoration: none;
  text-align: center;
  outline: none;
  color: #fff;
  background-color: #FE4365;
  border-radius: 3px;
  box-shadow: 0 0 0 -2px #CFF09E, 0 0 0 -1px #FE4365;
  border: none;
  -webkit-transition: -webkit-box-shadow .3s;
  transition:box-shadow .3s;
  &:hover, &:focus {
    box-shadow: 0 0 0 2px #CFF09E, 0 0 0 4px darken(#FF1D74, 5%);
    @include transition-timing-function(cubic-bezier(.6,4,.3,.8));
    @include animation (gelatine .5s 1);
  }
}

.devise_btn {
  display: block;
  width: 50%;
  padding: .6em 1.1em;
  font-size: 18px;
  margin: 0 auto;
  text-decoration: none;
  text-align: center;
  outline: none;
  color: #fff;
  background-color: #FE4365;
  border-radius: 3px;
  box-shadow: 0 0 0 -2px #CFF09E, 0 0 0 -1px #FE4365;
  border: none;
  -webkit-transition: -webkit-box-shadow .3s;
  transition:box-shadow .3s;
  &:hover, &:focus {
    box-shadow: 0 0 0 2px #CFF09E, 0 0 0 4px darken(#FF1D74, 5%);
    @include transition-timing-function(cubic-bezier(.6,4,.3,.8));
    @include animation (gelatine .5s 1);
  }
}

.form__btn {
  position: relative;
  z-index: 2;
  background-color: #333;
  border: 2px solid #333;
  color: #fff;
  line-height: 30px;

  &:hover {
    background-color: #fff;
    border-color: #59b1eb;
    color: #59b1eb;
  }

  &:before,&:after {
    left: 0;
    width: 100%;
    height: 50%;
    background-color: #333;
  }

  &:before {
    top: 0;
  }

  &:after {
    bottom: 0;
  }

  &:hover::before,&:hover::after {
    height: 0;
    background-color: #59b1eb;
  }
}

.round__btn {
  width: 150px;
  height: 130px;
  background: #2a82a3;
  border: 1px solid #fff;
  border-radius: 150px;
  -moz-border-radius: 150px;
  -webkit-border-radius: 150px;
  margin: 0 auto;
  color: #fff;
  padding: 42px 20px 20px;
  display: block;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.5s ease-in;
  -webkit-transition: background-color 0.5s ease-in;

  &:hover {
    background: #fff;
    color: #2a82a3;
    border: 1px solid #2a82a3;
  }
}

.fb_btn {
  background-color: #3b5998;
  height: 50px;
  width: 80%;
  margin: 30px auto;
  display: block;
  position: relative;
  text-decoration: none;
  border-radius: 4px;

  &:after {
    content: "";
    position: absolute;
    top: 12px;
    left: 12px;
    width: 20px;
    height: 20px;
    background-image: image-url('icons/FB-f-Logo__blue_58.png');
    background-repeat: no-repeat;
    background-size: 20px 20px;
  }

  @at-root {
    &__label {
      color: #ffffff;
      position: relative;
      text-align: center;
      line-height: 50px;
      margin: 0 20px 0 50px;
    }
  }
}

.form__label {
  display: block;
  font-size: 14px;
  margin: 10px auto 10px auto;
  width: 100%;
}

.form__text__box {
  display: block;
  font-size: 14px;
  width: 100%;
  margin: 0 auto 10px auto;
  line-height: 24px;
}

.form__select {
  position: relative;
  width: 100%;
  padding: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #999;
  background: #eee;
  background: -webkit-linear-gradient(top, #fff 0%,#efebe1 100%);
  background: linear-gradient(to bottom, #fff 0%,#efebe1 100%);
}

.heading__wrapper {
  background: image-url("takao.jpg") no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
  height: 55%;

  &:before {
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: ' ';
  }
}

.heading__content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 30px;
  left: 0;
  width: 75%;
  height: 30%;
  margin: auto;
}

.heading__title {
  color: #fff;
  text-align: center;
  font-size: 36px;
  line-height: 100px;
}

.default__list {
  &__item {
    height: 80px;
    padding: 10px;
    position: relative;
    list-style-type: none;
    border: 1px solid #000;
    margin: 0 0 20px 0;

    &:after {
      clear: both;
      content: " ";
      display: block;
    }
  }
}

.list__profile {
  height: 100%;
  float:left;
  width: 15%;
  margin: 0 10px 0 0;
  position: relative;

  &__image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 80px;
    height: 80px;
  }

  &__info {
  width: 65%;
  float:left;

    &__subject {
      line-height: 20px;
      padding: 5px;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 2px;
      margin: 0 0 5px 0;
    }

    &__text {
      padding: 3px;
      margin: 3px;
      font-size: 14px;
      letter-spacing: 2px;
    }
  }
}