@import 'base/mixins';

.large_sign_up_btn {
  display: block;
  width: 50%;
  margin: 30px auto;
  padding: .6em 1.1em;
  font-size: 26px;
  text-decoration: none;
  text-align: center;
  outline: none;
  color: #fff;
  background-color: #FE4365;
  border-radius: 3px;
  box-shadow: 0 0 0 -2px #CFF09E, 0 0 0 -1px #FE4365;
  border: none;
  -webkit-transition: -webkit-box-shadow .3s;
  transition:box-shadow .3s;
  &:hover, &:focus {
    box-shadow: 0 0 0 2px #CFF09E, 0 0 0 4px darken(#FF1D74, 5%);
    @include transition-timing-function(cubic-bezier(.6,4,.3,.8));
    @include animation (gelatine .5s 1);
  }
}

.devise_btn {
  display: block;
  width: 50%;
  padding: .6em 1.1em;
  font-size: 18px;
  margin: 0 auto;
  text-decoration: none;
  text-align: center;
  outline: none;
  color: #fff;
  background-color: #FE4365;
  border-radius: 3px;
  box-shadow: 0 0 0 -2px #CFF09E, 0 0 0 -1px #FE4365;
  border: none;
  -webkit-transition: -webkit-box-shadow .3s;
  transition:box-shadow .3s;
  &:hover, &:focus {
    box-shadow: 0 0 0 2px #CFF09E, 0 0 0 4px darken(#FF1D74, 5%);
    @include transition-timing-function(cubic-bezier(.6,4,.3,.8));
    @include animation (gelatine .5s 1);
  }
}

.form__btn {
  position: relative;
  z-index: 2;
  background-color: #333;
  border: 2px solid #333;
  color: #fff;
  line-height: 30px;

  &:hover {
    background-color: #fff;
    border-color: #59b1eb;
    color: #59b1eb;
  }

  &:before,&:after {
    left: 0;
    width: 100%;
    height: 50%;
    background-color: #333;
  }

  &:before {
    top: 0;
  }

  &:after {
    bottom: 0;
  }

  &:hover::before,&:hover::after {
    height: 0;
    background-color: #59b1eb;
  }
}

.form__label {
  display: block;
  font-size: 14px;
  margin: 10px auto 10px auto;
  width: 100%;
}

.form__text__box {
  display: block;
  font-size: 14px;
  width: 100%;
  margin: 0 auto 10px auto;
  line-height: 24px;
}

.form__select {
  position: relative;
  width: 100%;
  padding: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #999;
  background: #eee;
  background: -webkit-linear-gradient(top, #fff 0%,#efebe1 100%);
  background: linear-gradient(to bottom, #fff 0%,#efebe1 100%);
}

.heading__wrapper {
  background: image-url("takao.jpg") no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
  height: 55%;

  &:before {
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: ' ';
  }
}

.heading__content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 75%;
  height: 30%;
  margin: auto;
}

.heading__title {
  color: #fff;
  text-align: center;
  font-size: 36px;
  line-height: 100px;
}