@import "partial/mixins";

.mypage { 
  max-width: 800px;
  margin: 0 auto;
  
  @at-root {
    &__prof {
      width: 100%;
      background: #fff;

      &:after {
        @include clearfix;
      }

      &__info {
        @include pane-box;
        float: left;
        width: 40%;

        &__title {
          padding: 20px 0;
        }
        
        &__list {
          list-style-type: none;
          padding: 10px;
          
          &__item {
            padding: 15px 0;
          }
        }

        &__answer {
          margin: 0 0 10px 20px;
          font-size: 13px;
        }
      }

      &__avatar {
        @include pane-box;
        border-left: 1px dotted #cfcfcf;
        float: left;
        width: calc(60% - 60px);
        margin: 0 0 0 15px;

        &__image {
          display: block;
          width: 300px;
          height: 300px;
          margin: 10px auto;
        }

        &__name {
          font-size: 16px;
          text-align: center;
        }
      }
    }
  }
}