.promise {
  height: 100%;

  @at-root {
    &__select__area {
      margin: 20px auto;
    }

    &__select {
      width: 60px;
      margin: 0 0 0 10px;

      &:first-child {
        margin: 0;
      }
    }

    &__field {
      width: 80%;
      margin: 30px auto 0 auto;
    }

    &__title {
      font-size: 28px;
      letter-spacing: 4px;
      padding: 10px 0;
    }

    &__button {
      width: 100px;
      position: absolute;
      right: 20px;
      top: 30px;
    }
  }
}