.reculutement {
  @at-root {
    &__btn__area {
      float: left;
      width: 15%;
    }

    &__btn {
      display: block;
      padding: 2px;
      font-size: 12px;
      text-align: center;
      text-decoration: none;
      margin: 0 0 5px 0;
    }
  }
}
